button {
    margin: 10px;   
    font-family: fantasy;
    font-size: 18px;   
  }
  #emotions-view {
    background-color: lavender;
  }
  #emotion-form{
    background-color: lavenderblush;
    text-align: left;

  }
  #add-emotion{
    margin-top: 25px;
    font-family: fantasy;
    font-size: 18px;
  }